includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: 8
    paths:
        - app
        - config
        - database
        - routes
    excludePaths:
        - database/factories/*
        - database/seeders/*
    scanFiles:
        - ./.phpstorm.meta.php
        - ./_ide_helper.php
    ignoreErrors:
        - '#Illuminate\\Support\\Collection#'
        - '#Illuminate\\Http\\Request#'
        - '#Illuminate\\Notifications\\DatabaseNotificationCollection#'
        - '#Undefined variable: \$this#'
        - '#of function trim expects string#'
        - '#Call to an undefined method#'
        - '#supplied for foreach, only iterables are supported#'
        - '#unreadNotifications#'
    checkMissingIterableValueType: false
