includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: 8
    paths:
        - app
        - config
        - database
        - routes
    excludePaths:
        - database/factories/*
        - database/seeders/*
    scanFiles:
        - ./.phpstorm.meta.php
        - ./_ide_helper.php
    ignoreErrors:
        - '#Undefined variable: \$this#'
        - '#Call to an undefined method Illuminate\Http\Request#'
    checkMissingIterableValueType: false
